<div ng-switch on="vm.authService.isLoggedIn()">
  <div ng-switch-when="true">
    <div class="text-center container" ng-if="vm.permissionService.canAccessSurvey()">
      <a ui-sref="survey" class="btn btn-info btn-lg" role="button">
        <img src="assets/gen/imgs/3d-people-checklist.jpg" class="img-circle" alt="" width="180" height="180">
        <br><br>填寫小家調查表
      </a>
    </div>
  </div>
  <div ng-switch-when="false" class="text-center">
    <img src="assets/gen/imgs/survey2.jpg" alt="" width="800">
  </div>
</div>
