<!--<img src="assets/gen/imgs/GCCI.png" alt="">
<button type="button" class="btn btn-default"><a href="https://www.google.com/accounts/Logout?continue=https://appengine.google.com/_ah/logout?continue=http://cell-survey.thegcci.org/">登出</a>"</button>-->
<div class="row">
  <div class="container col-md-4">
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#accountnotice"><img src="assets/gen/imgs/3d-people-reading.png" class="img-circle" alt="" width="200" height="200">
      <br />
      <br />帳號使用須知</button>
    <div class="modal fade" id="accountnotice" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">GCCI牧養同工Google Account使用原則</h4>
          </div>
          <div class="modal-body">
            <ol type="1">
              <li>國際大使命教會的牧養同工是指經教會抹油設立的、在職的小家長、實習區長、區長、實習區牧、區牧、實習區牧長及區牧長。</li>
              <li>國際大使命教會的牧養同工Google account (Firstname.Lastname@mygcci.org) 是教會免費提供給本教會牧養同工，用於服事（包括牧養、事工）使用。不可用於與服事無關的個人用途。具體包括（但不僅限於）：</li>
              <ol type="a">
                <li>不可用來注冊個人Facebook， WeChat，WhatsApp，LINE 等社交網站；</li>
                <li>不可用來注冊個人eBay，Amazon，PayPal 以及其他商業機構的網上購物及支付系統，或用於其他商業用途、個人營利。</li>
                <li>不可用來注冊加入與服事無關的其他社團或會員組織。</li>
                <li>不可用來進行與服事無關的網上發言、問卷調查、發表政治理念等。</li>
                <li>不可用來注冊/下載/傳輸/存儲任何盜版資料、文件、影片、音樂等。</li>
                <li>不可用來發布任何傷害教會、不造就人、不榮耀神的言語，不可用來作為謾罵攻擊、威脅恐嚇別人的工具。</li>
                <li>不可用來進行任何違反國家法律的行動。</li>
                <li>如有違反，教會有權凍結該賬戶的使用。</li>
              </ol>
              <li>Google account 作為教會與牧養同工聯絡的正式管道之一，同工應及時查收與回復相關郵件。</li>
              <li>牧養同工賬戶應妥善保管賬戶ID及密碼。如發現賬戶被盜用，請在24小時內通報系統管理員。</li>
              <li>牧養同工不再當任服事職責時，該賬戶將歸還教會。教會有權:①刪除賬戶；②更改密碼，轉交其他人使用；③查看歷史記錄，處理相關郵件，並與通訊錄中的聯系人進行聯絡。</li>
            </ol>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container col-md-4">
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#samplesurvey">
      <img src="assets/gen/imgs/3d-people-checklist.png" class="img-circle" alt="" width="200" height="200">
      <br/>
      <br/>小家調查表簡介
    </button>
    <div class="modal fade" id="samplesurvey" role="dialog">
      <div class="modal-dialog" style="width: 800px;">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">小家調查表簡介</h4>
          </div>
          <div class="modal-body">
            <img class="img-responsive" src="assets/gen/imgs/survey-step.png" alt="">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container col-md-4">
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#loginissue">
      <img src="assets/gen/imgs/3d-people-help.png" class="img-circle" alt="" width="200" height="200">
      <br />
      <br />登入問題
    </button>
    <div class="modal fade" id="loginissue" role="dialog">
      <div class="modal-dialog" style="width: 800px;">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">登入問題</h4>
          </div>
          <div class="modal-body">
            <fieldset>
              <legend>登入方法</legend>
              <div class="text-center">
                <img class="img-thumbnail" src="assets/gen/imgs/gcci-home.png" alt="">
              </div>
            </fieldset>
            <br><br>

            <fieldset>
              <legend>如有私人信箱以存在的情況下會出現已下畫面</legend>
              <div class="text-center">
                <p>假如沒有出現這個問題直接以GCCI信箱登入即可</p>
                <img class="img-thumbnail img-responsive" src="assets/gen/imgs/google-p1.png" alt="" width="48%">
                <img class="img-thumbnail img-responsive" src="assets/gen/imgs/google-p2.png" alt="" width="48%">
              </div>
            </fieldset>
            <br><br>

            <fieldset>
              <legend>以牧養同工信箱登入</legend>
              <div class="text-center">
                <img class="img-thumbnail img-responsive" src="assets/gen/imgs/google-gcci1.png" alt="" width="48%">
                <img class="img-thumbnail img-responsive" src="assets/gen/imgs/google-gcci2.png" alt="" width="48%">
              </div>
            </fieldset>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
