<div id="reportCharts">
  <div ng-if="vm.$state.current.name === 'report.qtr'">
    <h2 class="text-center">{{vm.getLevelTitle()}}小家健康季度比較</h2>
    <div id="qtrChart"></div>
  </div>

  <div ng-if="vm.$state.current.name === 'report.health'">
    <h2 class="text-center">{{vm.getLevelTitle()}}小家健康分佈圖</h2>
    <div>
      <div id="healthChart" style="height: 400px;"></div>
    </div>
    <div>
      <div id="health1Chart" style="height: 400px;"></div>
    </div>
    <div>
      <div id="health2Chart" style="height: 400px;"></div>
    </div>
  </div>

  <div ng-if="vm.$state.current.name === 'report.category'">
    <h2 class="text-center">{{vm.getLevelTitle()}}小家健康分項平均值</h2>
    <div id="categoryChart"></div>
  </div>
</div>

<!-- report detail modal -->
<div class="modal fade" id="reportDetailModal" tabindex="-1" role="dialog" aria-labelledby="Report Detail">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">
          {{vm.selectedSurveyModel.title}}
          -
          {{vm.selectedSurveyConfig.statsPeriod}}
        </h4>
      </div>
      <div class="modal-body" style="overflow-y: auto;">
        <div id="cellCategoryChart" style="height: 200px;"></div>
        <hr/>
        <table class="table table-hover">
            <thead>
            <tr>
                <th width="60">序號</th>
                <th>評估項目\分數</th>
                <th ng-repeat="score in [0,1,2,3,4]" width="120">{{score}}分</th>
            </tr>
            </thead>
            <tbody>
            <!-- categories -->
            <tr ng-repeat-start="category in vm.selectedSurveyForm">
                <td colspan="8" class="category">
                    {{category.title}}
                    <div class="pull-right">
                      {{vm.categoryScoreLabel(vm.categoryScore[$index.toString()])}}
                    </div>
                </td>
            </tr>
            <!-- items -->
            <tr ng-repeat="item in category.items">
                <td>
                    {{$parent.$index * category.items.length + $index + 1}}
                </td>
                <td>{{item.item}}</td>
                <!-- options -->
                <td ng-repeat="option in item.options track by $index">
                    {{option}}
                    <i class="fa fa-check text-success" ng-if="vm.isSelectedAnswer($parent.$parent.$index, $parent.$index, $index)"></i>
                </td>
            </tr>
            <tr ng-repeat-end></tr>
            </tbody>
        </table>
        <div class="alert alert-success">
            <div class="pull-right">總分數 {{vm.selectedSurvey.totalScore}}</div>
            <div class="clearfix"></div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
