<div class="alert alert-success">
    <div class="pull-right">??? {{main.totalScore}}</div>
    <div class="clearfix"></div>
</div>
<table class="table table-hover">
    <thead>
    <tr>
        <th>??</th>
        <th>????/????</th>
        <th ng-repeat="score in [0,1,2,3,4]" width="130">{{::score}}?</th>
    </tr>
    </thead>
    <tbody>
    <!-- categories -->
    <tr ng-repeat-start="category in ::main.survey">
        <td colspan="8" class="category" align="left">{{::category.title}}</td>
    </tr>
    <!-- items -->
    <tr ng-repeat="item in ::category.items">
        <td>{{::$index + 1}}</td>
        <td>{{::item.item}}</td>
        <!-- options -->
        <td ng-repeat="option in ::item.options track by $index">
            <a href="" ng-click="main.select($parent.$parent.$index, $parent.$index, $index)">{{::option}}</a>
            <i class="fa fa-check text-success" ng-if="main.isSelectedAnswer($parent.$parent.$index, $parent.$index, $index)"></i>
        </td>
    </tr>
    <tr ng-repeat-end></tr>
    </tbody>
</table>
<div class="alert alert-success">
    <div class="pull-right">??? {{main.totalScore}}</div>
    <div class="clearfix"></div>
</div>
<hr/>
<button class="btn btn-primary" ng-click="main.submitSurvey()">Submit Survey</button>