<!DOCTYPE html>
<html ng-app="app">
<head>
  <meta charset="UTF-8">
  <title>GCCI Cell Survey</title>

  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />

  <link rel="stylesheet" type="text/css" href="assets/gen/css/app.min.css"/>
  <script type="text/javascript" src="assets/gen/js/app.js"></script>
</head>
<body ng-controller="MainCtrl as vm" ng-cloak>

  <!-- Fixed navbar -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="">GCCI小家健康調查表</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li ng-class="{'active': vm.isActiveNav('home')}">
            <a ui-sref="home">首頁</a>
          </li>
          <li ng-class="{'active': vm.isActiveNav('survey')}" ng-if="vm.showSurveyTab()">
            <a ui-sref="survey">調查表</a>
          </li>
          <li class="dropdown" ng-class="{'active': vm.isActiveNav('report')}" ng-if="vm.showReportTab()">
            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button">
              健康報表 <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a ui-sref="report.qtr">季度比較</a></li>
              <li><a ui-sref="report.health">分佈圖</a></li>
              <li><a ui-sref="report.category">分項平均值</a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right" ng-switch on="vm.authService.isLoggedIn()">
          <li class="dropdown" ng-switch-when="true">
            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              {{vm.getUserDisplayName()}}
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="" ng-click="vm.logout()">Log Out</a></li>
            </ul>
          </li>
          <li ng-switch-when="false">
            <a href="" ng-click="vm.authService.login()">Login</a>
          </li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>

  <div class="container">
    <ui-view></ui-view>
    <hr/>
    &copy; Great Commission Church International
  </div>

  <gcci-message message-toggle="vm.GCCIMessage.toggle"
                message-type="{{vm.GCCIMessage.type}}"
                message-title="{{vm.GCCIMessage.title}}"
                message-body="{{vm.GCCIMessage.body}}"
                message-callback="vm.GCCIMessage.callback()"></gcci-message>
</body>
</html>
